{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="post-detail">
    <div class="post-detail__header">
        <div class="post-detail__eyebrow">Detalle</div>
        <h1 class="post-detail__title">{{ post.title }}</h1>
        <div class="post-detail__meta">
            <span>{{ post.created_at|date:"d/m/Y" }}</span>
            {% if post.categoria %}
            <span class="blog-article__dot"></span>
            <span>{{ post.get_categoria_display }}</span>
            {% endif %}
        </div>
    </div>

    {% if post.imagen %}
    <div class="post-detail__image">
        <img src="{{ post.imagen.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}

    <div class="post-detail__content">
        {{ post.content|linebreaks }}
    </div>

    <a href="{% url 'getPosts' %}" class="post-detail__back">
        <span>&#8592;</span> Volver al blog
    </a>
</article>
{% endblock %}
