DATABASE_URL=sqlite+aiosqlite:///./instance/Chinook.db
SECRET_KEY=change-this-secret-key-for-jwt-development
ACCESS_TOKEN_EXPIRE_MINUTES=30
API_V1_STR=/api/v1
LOG_FILE_PATH=./instance/fastapi-example.log
LOG_LEVEL=DEBUG
UPLOAD_DIR=./static/images